<!DOCTYPE html>
<html>
	<head>
		<title>Form</title>
	</head>
	<body>
	<h2>
	<center>
		<form enctype="multipart/form-data" action='' method="post">{% csrf_token %}
			{{form.as_p}}
		<input type="submit" value="Send" />
	</center>
	</h2>
	</body>
</html>